# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs


# --
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp



# Editors
.idea
*.iml
.vs